# Rust
/target
.cargo

# Keys
**/*.jks
**/*.p8
**/*.pem

# VS Code
.vscode

# Test data
**/*.jsonlz4
**/*.html

# Testing
/bogrep

# Performance
perf.data
perf.data.old
flamegraph.svg

# Environment
.env
